__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
env/
.env
data/
!src/data/
!src/data/*.py
outputs/
!outputs/
!outputs/figures/
!outputs/xai/
!outputs/figures/.gitkeep
!outputs/xai/.gitkeep
checkpoints/
!checkpoints/
!checkpoints/.gitkeep
*.pt
*.pth
*.ckpt
